<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Weather App</title>
</head>
<body>
    <div>
        <form>
        <label>Search</label>
        <input type='search' />
        <input type='submit'/>
        </form>
    </div> &nbsp; &nbsp;

    {% for city_weather in weather_data %}
    <div>
        <figure>
            <img src='http://openweathermap.org/img/w/{{city_weather.icon}}.png'/>
        </figure>
        
        <p> {{city_weather.city}} </p> &nbsp; 
        <p> {{city_weather.description}} </p> &nbsp;
        <p> {{city_weather.temperature}} &deg C </p> &nbsp; 
    </div>
    {% endfor %}
</body>
</html>