<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'weather/style.css' %}"/>
    <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'weather/font-awesome/css/font-awesome.min.css' %}" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Django Weather App</title>
</head>
<body>
    <div class="container pt-3">
        <!--Page Header-->
        <div class="page-header">
            <h1>Weather Details</h1>
        </div>

        <!--Search a city-->
        
        <div class="container col-md-4 col-md-offset-4">
            <form class="form-inline" method="GET" action="/search">
                {% csrf_token %}
                <div class="form-group">
                    <label for="search"></label>
                    <input type="search" class="form-control" id="search" placeholder="Search a city" name='search'/>
                    <button type="submit" class="btn btn-link"><i class="fa fa-search"></i></button>
                </div>  
            
            </form> 
            <div>&nbsp;</div>
        </div>

        <!--Details-->
        {% if city_weather %}
        <div class="container col-6">

                <div class="card" style="width: 400px;">
                    <div class="card-body">
                        <h6 class="card-text"><img src='http://openweathermap.org/img/w/{{city_weather.icon}}.png'> <span>{{ city_weather.city}}</span></h6>
                        <h6 class="card-text"><span><span>{{city_weather.temperature}} &deg;C</span></span></h6>
                        <h6 class="card-text">{{city_weather.description}}</h6>
                        <h6 class="card-text">Minimum temperature: {{city_weather.min_temp}}</h6>
                        <h6 class="card-text"> humidity: {{city_weather.humidity}}</h6>
                    </div> 
                </div>
            
        </div>
        {% endif %}
        
    </div>
</body>
</html>