body{
    background-color: cornflowerblue;
}

.search {
    align-self: start;
    padding-left: 2px;
    padding-top: 5px;
    
}

.app{
    align-self: start;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}